:root {
	/* --font-body: Lora, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', serif; */
		--font-body: Lora, Times, serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: #006837;
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	-webkit-user-select: none; 
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.unlock_cursor, article, a, p, h1, h2, .subh, .where-next, .highlighted-question {
	-webkit-user-select: auto; 
	-ms-user-select: auto;
	user-select: auto;
	cursor: auto;
}


body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	transition: 1s;
	overflow-x: hidden;

}
/* 
body:hover {
	background-color:#004f2a;
} */

h1,
h2,
p {
	font-weight: 400;
	line-height: 1;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
	/* position: sticky;
	top: 0; */
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 480px;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}






/* imported from Cross */

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0.6;
	background-color: white;
	border-radius: 2px;
	box-shadow:
	0 20px 20px -15px rgba(0,0,0, 0.4);
	/* 0 10px 20px -20px rgba(255, 255, 255, 1); */
	font-size: 16pt;
	transform: rotate(-0.2deg);
	/* perspective: 1px; */
}

h1 {
	width: 90%;
	font-weight: 800;
	/* text-transform: uppercase;
	letter-spacing: 5px; */
	/* font-style: italic; */
	/* font-size: clamp(80px, 24vw, 128px); */
	font-size: clamp(40px, 12vw, 64px);
	line-height: clamp(40px, 12vw, 64px);;
	color: #D33F37;
	/* text-align: left; */
	padding: 0;
	margin: 50px 0 60px 0;
}

h2 {
	width: 70%;
	font-weight: 800;
	font-style: italic;
	font-size: clamp(20px, 6vw, 48px);
	line-height: clamp(30px, 8vw, 48px);;
	color: #006837;
	margin: 35px 0 40px 0;
	text-align: center;
}

.subh {
	font-size: 12px;
	/* text-align: left; */
	text-align: center;
	width: 89%;
	margin: -40px 0 35px 0;
	/* font-style: italic; */
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}


article {
	padding: 0px clamp(20px, 10vw, 80px) 20px clamp(10px, 5vw, 40px);
	margin-bottom: 20px;
	min-width: 80%;
	/* width should account for padding. may bug out! */
}



.where-next {
	/* background-color: #EEDC83; */
	background: linear-gradient(0deg, rgba(238,220,131,1) 0%, rgba(238,220,131,1) 67%, rgba(240,223,142,1) 100%);

	color: black;
	width: 105%;
	box-sizing: border-box;
	padding: clamp(40px, 12.5vw, 80px) clamp(40px, 10vw, 120px) clamp(40px, 10vw, 120px) clamp(20px, 5vw, 80px);
	margin: 0 0 40px 0;
	box-shadow:
		/* 0 20px 10px -15px rgba(0,0,0, 0.4); */
		/* 0 10px 40px -20px rgba(238,220,131,0.8); */
		0 35px 25px -30px rgba(0,0,0, 0.3),
		0 20px 40px -25px rgba(238,220,131,0.4)
		;
	border-radius: 5px;
	
	/* border: 3px solid #D33F37; */
	font-size: 24px;
	font-size: clamp(24px, 6vw, 32px);
	transition: 1s;
	transform: rotate(0.7deg);
	

}

.where-next.too_early {
	background-color: #D33F37;
	background: 
		linear-gradient(0deg,
		rgba(211,63,55,1) 0%,
		rgba(211,63,55,1) 67%,
		rgba(208,74,66,1) 100%);
	box-shadow:
		0 35px 25px -30px rgba(0,0,0, 0.3),
		0 20px 50px -20px rgba(211,63,55,0.8);

	color: #EEDC83;
}

.where-next.too_early:hover {
	background-color: #c0352e;

	
}

.where-next:hover {
	background-color: #fff1aa;
}

.saddle-block {
	padding: clamp(180px, 25vw, 240px) clamp(40px, 10vw, 120px) clamp(40px, 10vw, 120px) clamp(20px, 5vw, 80px);
	margin: clamp(-160px, -25vw, -110px) 0 20px 0;
}

.saddle {
	margin: clamp(-80px, -25vw, -40px) 0 clamp(-80px, -12.5vw, -40px) 0;
}






.highlighted-question {
	font-style: italic;
	font-weight: bold;
	color: #D33F37;
}


.illustration {
	
	width: clamp(320px, 100vw, 640px);
	z-index: 10;
	margin: clamp(-160px, -25vw, -80px) 0 clamp(-80px, -12.5vw, -40px) 0;
	user-select: none;
	pointer-events: none;
	transform: rotate(0.7deg);
}


.map_section {
	color: white;
	font-size: 16pt;
	padding: 20px;
}


#marker_container.svelte-r1jmk4{position:absolute;width:100%;height:100%;rotate:-7.5deg;border:red solid 1px}#position_marker.svelte-r1jmk4{position:absolute;width:50px;height:50px;border-radius:25px;background:magenta;z-index:200}.map_wrapper.svelte-r1jmk4{position:relative;border:1px solid purple}@media(max-aspect-ratio: 5/8) and (orientation:portrait){.map_wrapper.svelte-r1jmk4{width:100vw;height:100vw;margin-left:-19px;z-index:10;position:sticky;top:-20px;position:-webkit-sticky;box-shadow:0px 30px 50px 10px #006837}}@media(min-width: 1400px){.map_wrapper.svelte-r1jmk4{margin:5vw 0 0 0;width:90vw}}.appear.svelte-181jacx.svelte-181jacx{opacity:0;transform:translate(0, 10px);transition:0.8s cubic-bezier(0.19, 1, 0.22, 1)}.appear_visible.svelte-181jacx.svelte-181jacx{opacity:1;transform:translate(0,0)}.lang_switch.svelte-181jacx.svelte-181jacx{align-items:center;align-self:center;text-align:right;width:100%;max-width:800px;margin:10px auto;box-sizing:border-box;padding-right:20px;color:#222;user-select:none}.lang_button.svelte-181jacx.svelte-181jacx{appearance:none;box-sizing:border-box;text-decoration:none;text-align:center;font-size:14px;line-height:20px;font-weight:600;border:none;background-color:rgba(255, 255, 255, 0);width:40px;height:26px;margin:5px;border-radius:3px;color:#EEDC83;border:0.67px solid rgb(238, 220, 131, 0.8);cursor:pointer;user-select:none;transition:0.3s}.lang_button.svelte-181jacx.svelte-181jacx::first-letter{letter-spacing:2px}.lang_button.svelte-181jacx.svelte-181jacx:hover{background-color:#EEDC83;color:#D33F37;border:0.67px solid rgb(238, 220, 131, 1);transition:0.05s;transform:scale(1.1);box-shadow:0px 3px 5px -3px rgba(0, 0, 0, 0.3)}.lang_button.svelte-181jacx.svelte-181jacx:active{background-color:#EEDC83;border:0.67px solid rgb(238, 220, 131, 0);transform:scale(0.95);box-shadow:0px 3px 5px -10px rgba(0, 0, 0, 0)}.lang_button.svelte-181jacx.svelte-181jacx:active:not(:hover){transform:scale(1);color:#EEDC83;border:0.67px solid rgb(238, 220, 131, 1);background-color:rgba(238, 220, 131, 0.2)}.lang_button.selected.svelte-181jacx.svelte-181jacx,.lang_button.selected.svelte-181jacx.svelte-181jacx:hover{transform:scale(1);pointer-events:none;cursor:default;color:#006837;color:#EEDC83;background-color:#D33F37;border:0.67px solid rgb(238, 220, 131, 0.1);user-select:none;transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1)}.legend_section.svelte-181jacx.svelte-181jacx{display:flex;flex-wrap:wrap;flex-grow:0;margin-bottom:40px}.legend_ul.svelte-181jacx.svelte-181jacx{flex:1 0 0;list-style-type:none;display:block;padding:0;margin:0;color:white;color:#EEDC83;margin-bottom:-40px}.legend.svelte-181jacx.svelte-181jacx{display:block;box-sizing:border-box;font-size:28px;border-radius:8px;padding:20px 0 20px 0;margin:40px 0 40px 0;width:370px;vertical-align:middle;line-height:20px;letter-spacing:1px;font-style:italic;font-weight:500}.legend_icon.svelte-181jacx.svelte-181jacx{position:relative;left:4px;width:120px;margin:-100px 0px -45px -10px}.app.svelte-181jacx.svelte-181jacx{display:flex;flex-direction:column;min-height:100vh;font-family:"Lora"}main.svelte-181jacx.svelte-181jacx{flex:1;display:flex;flex-direction:column;padding:20px;padding-top:100px;width:100%;max-width:800px;margin:0 auto;box-sizing:border-box}footer.svelte-181jacx.svelte-181jacx{display:flex;flex-direction:column;justify-content:center;align-items:center;padding:0px;font-size:12px;text-align:center;width:100%;font-weight:bold;font-family:"Lora";color:wheat;text-transform:uppercase;letter-spacing:1.5px;margin:10px 0 80px 0}footer.svelte-181jacx a.svelte-181jacx{font-weight:bold}@media(min-width: 480px){footer.svelte-181jacx.svelte-181jacx{padding:0px 0}}@media(min-width: 950px){.lang_switch.svelte-181jacx.svelte-181jacx{position:absolute;right:2vw}}@media(min-width: 1400px){.map_and_stuff.svelte-181jacx.svelte-181jacx{left:0;width:100vw;display:flex;flex:1;margin:40px 0 0 -30vw}.legend_section.svelte-181jacx.svelte-181jacx{margin:calc(40px + 5vw) 0 0 40px;min-width:760px}}